<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>首頁</title>
  </head>
  <body>
    <%- include('./layout/header'); -%>

    <div class="banner mb-64">
      <h1 class="dispaly-1 dispaly-2-sm text-white mb-48">
        URBNSTEP
        <br />
        <span class="h3 h5-sm">Your Step, Your Statement</span>
      </h1>
      <button type="button" class="btn btn-primary btn-16">立即選購</button>
    </div>

    <main class="container"></main>

    <!--register-->
    <%- include('./layout/register'); -%>
    <!--footer-->
    <%- include('./layout/footer'); -%>

    <script type="module" src="../main.js"></script>
  </body>
</html>
