<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>產品列表頁</title>
    <link rel="stylesheet" href="./style/reset.css" />
    <link rel="stylesheet" href="./style/all.css" />
  </head>
  <body>
    <!--top nav-->
    <%- include('./layout/header'); -%>

    <!--product-->
    <main class="container py-32 py-md-16 mb-md-24">
      <nav class="mb-24 mb-md-12">
        <ol class="d-flex">
          <li class="breadcrumb-item">
            <a href="index.html" class="breadcrumb-link">首頁</a>
          </li>
          <li class="breadcrumb-item">所有商品</li>
        </ol>
      </nav>
      <h1 class="h3 h4-md mb-24 mb-md-12">女鞋</h1>

      <div class="row">
        <!--category-->
        <div class="col-2 d-md-none">
          <nav>
            <ul class="category">
              <li class="mb-16"><a href="" class="py-8 active">所有商品</a></li>
              <li class="mb-16"><a href="" class="py-8">慢跑鞋</a></li>
              <li class="mb-16"><a href="" class="py-8">滑板鞋</a></li>
              <li class="mb-16"><a href="" class="py-8">厚底鞋</a></li>
              <li class="mb-16"><a href="" class="py-8">限定 / 聯名企劃</a></li>
            </ul>
          </nav>
        </div>

        <!--product-list-->
        <div class="col-10 col-md-4">
          <div class="row mb-48 mb-md-32">
            <div class="col-4 col-md-2">
              <a href="product.html" class="mb-md-24">
                <img
                  src="../assets/images/product.png"
                  alt="PLAFORM 404blue"
                  class="mb-12 mb-md-8"
                />
                <h2 class="h6 mb-4 mb-md-0">PLAFORM 404</h2>
                <p>NT$2,600</p>
              </a>
            </div>
            <div class="col-4 col-md-2">
              <a href="#" class="mb-md-24">
                <img
                  src="../assets/images/product-1.png"
                  alt="PLAFORM 404-khaki"
                  class="mb-12 mb-md-8"
                />
                <h2 class="h6 mb-4 mb-md-0">PLAFORM 404</h2>
                <p>NT$2,600</p>
              </a>
            </div>
            <div class="col-4 col-md-2">
              <a href="#" class="mb-md-24">
                <img
                  src="../assets/images/product-2.png"
                  alt="VM001"
                  class="mb-12 mb-md-8"
                />
                <h2 class="h6 mb-4 mb-md-0">VM001</h2>
                <p>NT$2,600</p>
              </a>
            </div>
            <div class="col-4 col-md-2">
              <a href="#" class="mb-md-24">
                <img
                  src="../assets/images/product-3.png"
                  alt="Melty Kiss"
                  class="mb-12 mb-md-8"
                />
                <h2 class="h6 mb-4 mb-md-0">Melty Kiss</h2>
                <p>NT$4,000</p>
              </a>
            </div>
            <div class="col-4 col-md-2">
              <a href="#" class="mb-md-24">
                <img
                  src="../assets/images/product-4.png"
                  alt="BOOMBLOK-white"
                  class="mb-12 mb-md-8"
                />
                <h2 class="h6 mb-4 mb-md-0">BOOMBLOK</h2>
                <p>NT$3,200</p>
              </a>
            </div>
            <div class="col-4 col-md-2">
              <a href="#" class="mb-md-24">
                <img
                  src="../assets/images/product-5.png"
                  alt="BOOMBLOK-blue"
                  class="mb-12 mb-md-8"
                />
                <h2 class="h6 mb-4 mb-md-0">BOOMBLOK</h2>
                <p>NT$3,200</p>
              </a>
            </div>
            <div class="col-4 col-md-2">
              <a href="#" class="mb-md-24">
                <img
                  src="../assets/images/product-6.png"
                  alt="R:UNER"
                  class="mb-12 mb-md-8"
                />
                <h2 class="h6 mb-4 mb-md-0">R:UNER</h2>
                <p>NT$4,000</p>
              </a>
            </div>
            <div class="col-4 col-md-2">
              <a href="#" class="mb-md-24">
                <img
                  src="../assets/images/product-7.png"
                  alt="Sugar Snap"
                  class="mb-12 mb-md-8"
                />
                <h2 class="h6 mb-4 mb-md-0">Sugar Snap</h2>
                <p>NT$4,000</p>
              </a>
            </div>
            <div class="col-4 col-md-2">
              <a href="#" class="mb-md-32">
                <img
                  src="../assets/images/product-8.png"
                  alt="Neofoam"
                  class="mb-12 mb-md-8"
                />
                <h2 class="h6 mb-4 mb-md-0">Neofoam</h2>
                <p>NT$4,000</p>
              </a>
            </div>
            <div class="col-4 col-md-2 d-none d-sm-block">
              <a href="#" class="mb-md-32">
                <img
                  src="../assets/images/product-9.png"
                  alt="Buttermood"
                  class="mb-12 mb-md-8"
                />
                <h2 class="h6 mb-4 mb-md-0">Buttermood</h2>
                <p>NT$4,000</p>
              </a>
            </div>
          </div>
          <ul class="d-flex justify-content-center align-items-center">
            <li class="me-12 page-item">
              <button class="btn btn-banner" disabled>
                <img
                  src="../assets/images/icons/chevron-left.svg"
                  alt="chevron-left"
                />
              </button>
            </li>
            <li class="me-8 page-item">
              <button type="button" class="btn active">1</button>
            </li>
            <li class="me-8 page-item">
              <button type="button" class="btn">2</button>
            </li>
            <li class="me-8 page-item">
              <button type="button" class="btn">3</button>
            </li>
            <li class="me-8 page-item">
              <button type="button" class="btn">...</button>
            </li>
            <li class="me-8 page-item">
              <button type="button" class="btn">10</button>
            </li>
            <li class="me-8 page-item">
              <button class="btn">
                <img
                  src="../assets/images/icons/chevron-right.svg"
                  alt="chevron-right"
                />
              </button>
            </li>
          </ul>
        </div>
      </div>
    </main>
    <!--register-->
    <%- include('./layout/register'); -%>
    <!--footer-->
    <%- include('./layout/footer'); -%>
    <script type="module" src="../main.js"></script>
  </body>
</html>
