@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+TC:wght@100..900&display=swap");
/* 顏色*/
:root {
  --primary-100: #f5fee7;
  --primary-200: #e8fec5;
  --primary-300: #c0fa73;
  --primary-400: #57a203;
  --primary-500: #477a11;
  --neutral-0: #ffffff;
  --neutral-100: #f8f9fa;
  --neutral-200: #e9ecef;
  --neutral-300: #dee2e6;
  --neutral-400: #ced4da;
  --neutral-500: #adb5bd;
  --neutral-600: #6c757d;
  --neutral-700: #495057;
  --neutral-800: #343a40;
  --neutral-900: #212529;
  --danger-300: #d74f4f;
}

*,
*::before,
*::after {
  box-sizing: border-box;
  /* outline: solid 1px; */
}
body {
  font-family: "Noto Sans TC", sans-serif;
  font-size: 16px;

  line-height: 1.5;
  letter-spacing: 0.05em;
  color: var(--neutral-900);
}

img {
  /* display: block; */
  vertical-align: middle;
  max-width: 100%;
  height: auto;
}

a {
  color: var(--neutral-900);
  text-decoration: none;
  display: block;
  font-size: 500;
}

.d-flex {
  display: flex;
}
.flex-wrap {
  flex-wrap: wrap;
}
.justify-content-center {
  justify-content: center;
}
.justify-content-between {
  justify-content: space-between;
}
.justify-content-around {
  justify-content: space-around;
}
.justify-content-evenly {
  justify-content: space-evenly;
}
.align-items-center {
  align-items: center;
}

.row {
  display: flex;
  flex-wrap: wrap;
  margin-left: -12px;
  margin-right: -12px;
}
.col-1 {
  padding-left: 12px;
  padding-right: 12px;
  width: calc(100% / 12);
}

.col-2 {
  padding-left: 12px;
  padding-right: 12px;
  width: calc(100% / 12 * 2);
}

.col-3 {
  padding-left: 12px;
  padding-right: 12px;
  width: calc(100% / 12 * 3);
}

.col-4 {
  padding-left: 12px;
  padding-right: 12px;
  width: calc(100% / 12 * 4);
}

.col-5 {
  padding-left: 12px;
  padding-right: 12px;
  width: calc(100% / 12 * 5);
}

.col-6 {
  padding-left: 12px;
  padding-right: 12px;
  width: calc(100% / 12 * 6);
}

.col-7 {
  padding-left: 12px;
  padding-right: 12px;
  width: calc(100% / 12 * 7);
}

.col-8 {
  padding-left: 12px;
  padding-right: 12px;
  width: calc(100% / 12 * 8);
}

.col-9 {
  padding-left: 12px;
  padding-right: 12px;
  width: calc(100% / 12 * 9);
}

.col-10 {
  padding-left: 12px;
  padding-right: 12px;
  width: calc(100% / 12 * 10);
}

.col-11 {
  padding-left: 12px;
  padding-right: 12px;
  width: calc(100% / 12 * 11);
}

.col-12 {
  padding-left: 12px;
  padding-right: 12px;
}

.container {
  max-width: 1300px;
  margin: 0 auto;
}

.h2 {
  font-size: 32px;
  font-weight: 700;
  line-height: 1.2;
}

.h3 {
  font-size: 28px;
  font-weight: 700;
  line-height: 1.2;
}
.h4 {
  font-size: 24px;
  font-weight: 700;
  line-height: 1.2;
}

.h5 {
  font-size: 20px;
  font-weight: 700;
  line-height: 1.2;
}

.h6 {
  font-size: 16px;
  font-weight: 700;
  line-height: 1.2;
}

.text-primary-200 {
  background-color: var(--primary-200);
}

.text-primary-400 {
  color: var(--primary-400);
}

.text-danger {
  background-color: var(--danger-300);
}

.text-sm {
  font-size: 14px;
}

.text-md {
  font-size: 16px;
  font-weight: 400;
  line-height: 1.5;
}

.bg-primary-200 {
  background-color: var(--primary-200);
}
.bg-neutral-100 {
  background-color: var(--neutral-100);
}
.p-12 {
  padding: 12px;
}
.py-8 {
  padding-top: 8px;
  padding-bottom: 8px;
}
.py-12 {
  padding-top: 12px;
  padding-bottom: 12px;
}
.py-16 {
  padding-top: 16px;
  padding-bottom: 16px;
}

.py-24 {
  padding-top: 24px;
  padding-bottom: 24px;
}

.py-32 {
  padding-top: 32px;
  padding-bottom: 32px;
}

.py-48 {
  padding-top: 48px;
  padding-bottom: 48px;
}

.py-64 {
  padding-top: 64px;
  padding-bottom: 64px;
}

.mb-4 {
  margin-bottom: 4px;
}

.mb-8 {
  margin-bottom: 8px;
}

.mb-12 {
  margin-bottom: 12px;
}

.mb-16 {
  margin-bottom: 16px;
}
.mb-24 {
  margin-bottom: 24px;
}
.mb-48 {
  margin-bottom: 48px;
}
.mb-64 {
  margin-bottom: 64px;
}
.me-8 {
  margin-right: 8px;
}
.me-12 {
  margin-right: 12px;
}

.me-24 {
  margin-right: 24px;
}
.me-48 {
  margin-right: 48px;
}

.mr-auto {
  margin-right: auto;
}
.ml-auto {
  margin-left: auto;
}

.btn {
  border-radius: 4px;
  padding: 12px 24px;
  font-size: 12px;
  font-weight: 500;
  line-height: 1.5;
  cursor: pointer;
  border: none;
  background-color: transparent;
}

.btn-dark {
  color: white;
  background-color: var(--neutral-900);
}

.footer {
  text-align: center;
}

.section-lined-top {
  border-top: 1px solid var(--neutral-300);
}

.section-lined--bottom {
  border-bottom: 1px solid var(--neutral-300);
}

/* 
============================== product-detail  ==============================. 
*/

.product-detail {
  margin-top: 64px;
  margin-bottom: 64px;
}

.product-img {
  flex: 6;
  margin-right: 24px;
}

.product-col {
  max-width: 369px;
  gap: 8px;
}

.product-card {
  height: 100%;
}

.product-card img {
  width: 100%;
  height: auto;
  margin-bottom: 12px;
}

.product-introduction {
  flex: 4;
}

.detail-intro-position {
  margin-bottom: 12px;
}

.detail-intro-position a {
  text-decoration: none;
  color: #000;
  font-weight: 500;
  font-size: 16px;
  color: #6c757d;
}

.product-introduction .intro-title {
  margin-bottom: 31px;
  font-size: 28px;
}

.product-introduction h2 {
  font-weight: 700;
  font-size: 32px;
  margin-bottom: 16px;
}

.price {
  margin-bottom: 16px;
}

.price h3 {
  height: 100%;
  color: #57a203;
  font-size: 20px;
  font-weight: 700;
  vertical-align: middle;
  margin-right: 8px;
}

.price p {
  height: 100%;
  color: #adb5bd;
  font-size: 14px;
  font-weight: 400;
  vertical-align: middle;
}

.introduction {
  margin-bottom: 12px;
}
.introduction p {
  margin-bottom: 12px;
}

.select-color {
  margin-bottom: 32px;
}

.select-color p {
  margin-bottom: 8px;
}
.select-color .img-co1 {
  max-width: 64px;
}

.select-color .img-col .img-select {
  margin-right: 8px;
}

.select-color .img-col .img-select img {
  width: 100px;
  margin-bottom: 4px;
}

.select-color .img-col .img-select p {
  text-align: center;
}

.select-size {
  margin-bottom: 32px;
}

.select-size p {
  margin-bottom: 8px;
}

.select-size .size-list {
  margin-bottom: 8px;
}

.select-size .size-list .size-col .size-item {
  margin-right: 8px;
  margin-bottom: 8px;
  padding: 12px 24px;
  border-radius: 5px;
  border: solid 1px #dee2e6;
  font-size: 16px;
  font-weight: 500;
}

.select-size .size-list .size-col .size-item:hover {
  border: solid 1px #212529;
}

.select-size .size-list .size-col .un-sale {
  color: #dee2e6;
}

.select-size .size-list .size-col .un-sale:hover {
  border: solid 1px #dee2e6;
}

.select-size .leftover {
  color: #d74f4f;
  font-size: 14px;
  font-weight: 400;
}

.select-btn-list {
  margin-bottom: 32px;
}

.select-btn-list a {
  padding: 12px 50px;
  margin-right: 4px;
  border-radius: 5px;
}

.select-btn-list a img {
  margin-right: 3px;
}

.select-btn-list a {
  padding: 12px 50px;
  margin-right: 4px;
  border-radius: 5px;
  border: solid 1px #000;
}
.select-btn-list .collect {
  flex: 1;
}

.select-btn-list .try {
  flex: 1;
  background-color: #000;
  color: white;
}

.illustration .illustration-title {
  color: #212529;
  font-size: 16px;
  font-size: 500;
}
.illustration .illustration-content {
  color: #6c757d;
  font-size: 16px;
  font-size: 400;
}

/* 
============================== you-like ==============================. 
*/

.you-like {
  margin-bottom: 88px;
}

.you-like h2 {
  margin-bottom: 26px;
  font-size: 24px;
  font-weight: 700;
}

.you-like .product-list .col .item {
  max-width: 300px;
  gap: 24px;
}

.you-like .product-list .col .item img {
  width: 100%;
}

.you-like .product-list .col .item h3 {
  font-weight: 700;
}

.you-like .product-list .col .item p {
  font-weight: 500;
}

/* 
============================== common footer ==============================. 
*/

.register {
  background: #e8fec5;
  margin-bottom: 64px;
}
.register h2 {
  padding-top: 30px;
  padding-bottom: 30px;
  margin-right: 24px;
  font-size: 24px;
  font-weight: 700;
}

.register a {
  color: white;
  background: black;
  padding: 12px 24px;
  border-radius: 5px;
}

.footer hr {
  margin-top: 24px;
  color: #dee2e6;
  /* font-weight: 200; */
}

.footer .text {
  padding-top: 32px;
  padding-bottom: 64px;
}

.footer p {
  color: #6c757d;
  font-weight: 400;
  text-align: center;
}
