.banner {
  background-image: url(../images/banner.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  padding-top: 289px;
  padding-bottom: 289px;
  padding-left: 200px;
  // padding: 289px 200px 289px 0px;
  // text-align: center;
}

@media (max-width: 576px) {
  .banner {
    padding: 155px 24px;
    background-image: url(../images/banner-sm.png);
  }
}
