<footer>
  <!--bottom nav-->
  <nav class="container mb-24">
    <div class="row">
      <div
        class="col-12 col-md-4 mb-sm-8 d-flex align-items-center justify-content-between"
      >
        <a href="#" class="py-8 me-48 logo"
          ><img src="../assets/images/logo.svg" alt=""
        /></a>
        <ul class="d-flex align-items-center d-sm-none">
          <li class="me-48">
            <a href="products.html" class="py-12">商品列表</a>
          </li>
          <li><a href="story.html" class="py-12">品牌故事</a></li>
        </ul>
      </div>
    </div>

    <ul class="d-none d-sm-block">
      <li class="mb-4">
        <a href="products.html" class="p-12">商品列表</a>
      </li>
      <li class=""><a href="story.html " class="p-12">品牌故事</a></li>
    </ul>
  </nav>
  <div class="bg-neutral-100">
    <div class="container">
      <div class="footer text-sm section-lined-top">
        <p class="mb-4 text-sm text-neutral-600">Copyright ©2025 URBNSTYLE</p>
        <p class="text-sm text-neutral-600">All Rights Reserved.</p>
      </div>
    </div>
  </div>
</footer>
