<nav class="container py-16 py-sm-12">
  <div class="row">
    <div class="col-12 col-sm-4 d-flex align-items-center">
      <a href="index.html" class="py-8 me-48 logo"
        ><img src="../assets/images/logo.svg" alt=""
      /></a>
      <ul class="d-flex align-items-center d-sm-none">
        <li class="me-48">
          <a href="products.html" class="py-12">商品列表</a>
        </li>
        <li class=""><a href="story.html" class="py-12">品牌故事</a></li>
      </ul>
      <a class="p-12 ml-auto" href="login.html">
        <i class="bi bi-person"></i>
      </a>
    </div>
  </div>
</nav>
